<h1>Site Map</h1>
<div class="seositemap-map">
    <?php $config = $this->getConfig();?>

    <table>
        <tr>
            <td width="50%">
                <h3>Catalog</h3>
                <ul>
                <?php foreach ($this->getCategoriesTree() as $category):?>
                    <li class="level-<?php echo $category->getLevel() ?>"><a href="<?php echo $this->getCategoryUrl($category) ?>"><?php echo $category->getName() ?></a></li>
                    <?php if ($config->getIsShowProducts()):?>
                        <?php foreach ($this->getProductCollection($category) as $product):?>
                            <li class="level-<?php echo $category->getLevel() + 1 ?>">
                                <a href="<?php echo $product->getProductUrl() ?>"><?php echo $product->getName() ?></a>
                            </li>
                        <?php endforeach ?>
                    <?php endif ?>
                <?php endforeach ?>
                </ul>
            </td>
            <td width="50%">
                <?php if ($config->getIsShowStores()):?>
                    <h3>Stores</h3>
                    <ul class="stores">
                    <?php foreach ($this->getStores() as $store): ?>
                        <li><a href="<?php echo $store->getBaseUrl() ?>"><?php echo $store->getName() ?></a></li>
                    <?php endforeach ?>
                    </ul>
                <?php endif ?>
                <?php if ($config->getIsShowCmsPages()):?>
                    <h3>Pages</h3>
                    <ul>
                    <?php foreach ($this->getCmsPages() as $page):?>
                        <li><a href="<?php echo $this->getCmsPageUrl($page) ?>"><?php echo $page->getTitle() ?></a></li>
                    <?php endforeach ?>
                    <?php
                    $links = $config->getAdditionalLinks();
                    if (count($links) > 0): ?>
                        <?php foreach ($links as $link):?>
                        <li><a href="<?php echo $link->getUrl() ?>"><?php echo $link->getTitle() ?></a></li>
                        <?php endforeach ?>
                    <?php endif ?>
                    </ul>
                <?php endif ?>
            </td>
        </tr>
    </table>
</div>