ul.tabs a.mstcore-store {
    padding-left: 18px;
}
ul.tabs a.mstcore-store span {
   background: url("../images/store.png") no-repeat;
   margin: 0px 0px 0px 0px;
   padding: 15px 0px;
}
ul.tabs a.mstcore-store.active {
   background: #fff;
}
ul.tabs a.mstcore-store.active:hover {
   padding-left: 18px;
}
ul.tabs a.mstcore-store.active:hover span {
   background-color: none;
   background: url("../images/store.png") no-repeat;
   margin: 0px 0px 0px 0px;
   padding: 15px 0px;
}
