<table cellspacing="0" class="switcher" width="100%" class="form-list">
    <col width="220px" />
    <col />
    <thead>
        <tr>
            <th colspan="2">
                <?php echo $this->escapeHtml($this->getFieldsetLabel()) ?>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><?php echo $this->__('Extension Version'); ?></td>
            <td><?php echo $this->getExtensionVersion(); ?></td>
        </tr>
        <?php if ($this->hasDocumentation()): ?>
            <tr>
                <td><?php echo $this->__('Documentation'); ?></td>
                <td>
                    <ul>
                        <?php if ($this->getDocLinkEn()): ?>
                            <li><a href="<?php echo $this->getDocLinkEn() ?>">English</a></li>
                        <?php endif; ?>
                        <?php if ($this->getDocLinkDe()): ?>
                            <li><a href="<?php echo $this->getDocLinkDe() ?>">German</a></li>
                        <?php endif; ?>
                    </ul>
                </td>
            </tr>
        <?php endif; ?>
        <?php if (0 < strlen($this->getSupportMail())): ?>
            <tr>
                <td class=label><?php echo $this->__('Need support? Contact Viveum:'); ?></td>
                <?php 
                    $bodyInfo = array(
                        '',
                        '===',
                        'Magento version: ' . $this->getMageVersion(),
                        'Viveum app version: ' . $this->getExtensionVersion(),
                        'Shop URI: ' . Mage::getBaseUrl()
                    );
                ?>
                <td><a href="mailto:<?php echo $this->getSupportMail(); ?>?body=<?php echo rawurlencode(implode("\n", $bodyInfo)) ?>"><?php echo $this->getSupportMail() ?></a></td>
            </tr>
        <?php endif; ?>
        <?php if ($this->hasDevPrefix()): ?>
            <tr style="color:red">
                <td class=label><?php echo $this->__('devprefix'); ?></td>
                <td><?php echo $this->getDevPrefix(); ?></td>
            </tr>
        <?php endif; ?>
    </tbody>
</table>

