/*********************************
  kerwin@dotker.com 
*/

/*********************************
  Global: Misc Elements
*/
.ma-page .note-msg{min-height:0!important;}
.ma-page p.required{color: #FF3E96!important;}

/*********************************
  Global: Navigation
*/
.fish_menu ul,
.fish_menu div{top:50px!important;width:260px!important;}
#nav ul ul, #nav ul div{top:-1px!important;}
/*** sub level position ***/
#nav li .shown-sub li div.shown-sub { left:260px!important; }

/*********************************
  Global: Mobile Menu
*/
#ma-mobilemenu.mobilemenu li{background-image:none!important;background-color:#fff!important;}
#ma-mobilemenu.mobilemenu li a{color: #666 !important;font-weight:normal !important;font-family:CarroisGothic !important;text-transform:uppercase !important;font-size:15px !important;}
#ma-mobilemenu.mobilemenu ul ul a, .mobilemenu ul li.active ul a{color: #666 !important;}
#ma-mobilemenu.mobilemenu li a:hover{color: #ff3e96 !important;}

#ma-mobilemenu.mobilemenu li ul li{background-image:none!important;background-color:#fff!important;}
#ma-mobilemenu.mobilemenu li ul li a{color: #666 !important;}


/*** removes small spacings on top level items ***/
.ma-page #nav li{padding-right: 0px!important;}
.ma-page #nav li li{padding-right: 2px!important;}
/*** removes the bullet on non-parent sub-level ***/
.ma-page .fish_menu ul li a{background-image:none!important;}
.ma-page .fish_menu ul li a:hover{background-image: url("../images/arrow-up2.png")!important;}
.ma-page .fish_menu ul li.parent a{background-image: url("../images/li-bullet1.png")!important;background-position:right 15px center!important;}
/*** removes the arrow when item is just active ***/
.ma-page .fish_menu li.active a{background-image:none!important;}
.ma-page .fish_menu li.active a:hover,
.ma-page .fish_menu ul li.active.first a:hover{background-image: url("../images/arrow-up2.png")!important;}
/*** removes 3rd level arrows ***/
.ma-page .fish_menu ul li.parent li a{background-image:none!important;}

/*********************************
  Global: Header
*/
.header .search-content{position:static!important;}
.header .form-search input.input-text{background:#f1f1f1!important;padding: 5px 9px!important;}
@media only screen and (max-width: 770px){
	.header .welcome-msg{margin-bottom:10px!important;}
}

/*********************************
  Global: Breadcrumbs
*/
@media only screen and (max-width: 770px){
	.breadcrumbs, .breadcrumbs-top{display: none!important;}
}

/*********************************
  Global: Footer
*/
@media only screen and (max-width: 770px){
	.ma-footer-static .span3 {overflow: hidden!important;}
}

/*********************************
  Catalog: List
*/
.products-grid .product-name{height:58px;}

.products-grid .item-inner,
.ma-newproductslider-container .item-inner{-webkit-transition: 0.5s; -moz-transition: 0.5s; transition: 0.5s;}
.products-grid .item-inner:hover,
.ma-newproductslider-container .item-inner:hover{border-color: #ff3e96!important;}

.products-grid button.button span{font-size:13px!important;}

@media (max-width: 767px) {
	.products-grid .item-inner{float:none!important;}
}

/*** Category info block ***/
.category-info{}
.category-info img{}
.category-info img + .category-text{margin-top:15px;}
.category-text{}
.category-text h1{}
.category-text p{margin-bottom:25px;}

/*********************************
  Catalog: View
*/
.productpage-sample-block{display:none;}

.product-view .product-shop .product-shop-info{position:relative;}
.product-view .product-shop .product-shop-info > .span6{width:100%;float:none;}
.product-view .product-shop .product-shop-info > .span6 + .span6{position:absolute;top:0px;right:0px;width:50%;}

@media (max-width: 979px) and (min-width: 768px) {
	.catalog-product-view .row-fluid .span9{width:100%!important;}
	.product-view .product-shop .product-shop-info > .span6{width:48.618784527%!important;}
}

@media (max-width: 767px) {
	.catalog-product-view .row-fluid .span9{width: auto!important;}
	.product-view .product-shop .product-shop-info > .span6{display: block;float: none;width: auto;}
	.product-view .product-shop .product-shop-info > .span6 + .span6{position:static;width:auto;}
}

/*** pricing on top ***/
.product-view .product-shop .price-box{margin:5px 0 0;overflow: hidden;}
.product-view .product-shop .old-price{margin-top:9px!important;line-height: 1.0!important;}
.product-view .product-shop .old-price .price,
.product-view .product-shop .price-box .old-price .price{font-size:16px;line-height:1.0;}
.product-view .product-shop .regular-price .price,
.product-view .product-shop .price-box .price{font-size:26px;line-height:1.0;}
.product-view .product-shop .special-price .price{font-size:26px;}

/*** top displayed attributes ***/
.product-view .product-shop .price-sub{margin-bottom:3px;}
.product-view .product-shop .price-sub a{font-style:italic;font-size:11px;text-decoration:underline;color:#333;}
.product-view .product-shop .price-sub a:hover{text-decoration:none;color:#ff3e96;}

/*** button ***/
.product-view button.btn-cart span{font-size:13px!important;}

/*** popup ***/
#inline_content{}
#inline_content p{text-align:left;font-size:11px;line-height:1.6;}
#cboxClose{}
#cboxClose:before{display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00d";
  margin-right:3px;}

.product-view .product-shop .savings-box{line-height:30px;}
.product-view .product-shop .savings-box span{color: #ff3e96;}

.product-view .product-shop .availability{margin-top:40px!important;line-height:30px;}
.product-view .product-shop .savings-box + .availability{margin-top:0px!important;}
.product-view .product-shop .availability span{color:#209900!important;}
.product-view .product-shop .availability.out-of-stock span{color:#EC5D4C!important;}

@media (max-width: 767px) {
	.product-view .product-shop .availability{margin-top:10px!important;}
	.product-view .product-shop .savings-box + .availability{margin-top:10px!important;}
}

.product-view .product-shop .product-packagesize{line-height:30px;}
.product-view .product-shop .product-packagesize span{color: #ff3e96;}

/*** button ***/
.product-view .product-shop button.btn-cart > span{background: url("../images/icon-cart.png") no-repeat scroll 8px 50% #ff3e96 !important;}

/*** configurable products add-to-cart ***/
.product-shop .product-options-bottom .price-box{width: 100%!important;margin: 0 20px 12px 0!important;
display:none!important;}

/*********************************
  Catalog: Responsive Data Tables
*/
@media only screen and (max-width: 770px){
	/* Product tabs, please transfer sometime */
	.product-tabs li {margin:00!important;}
	.product-tabs-content{width:100%!important;padding:12px!important;
	box-sizing:border-box;-webkit-box-sizing:border-box;}
	
	/* Custom style overrides */
	table.data-table{border:none;}
	table.data-table tbody th, table.data-table tbody td {border-bottom:none;}
	
	/* Force table to not be like tables anymore */
	.product-collateral table, .product-collateral thead, .product-collateral tbody, .product-collateral th, .product-collateral td, .product-collateral tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.product-collateral thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.product-collateral tr { }
	
	.product-collateral td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 50%; 
	}
	
	.product-collateral td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	/*.product-collateral #product-attribute-specs-table td:nth-of-type(1):before { content: "Artikelposition"; }
	.product-collateral #product-attribute-specs-table td:nth-of-type(2):before { content: "PZN"; }
	.product-collateral #product-attribute-specs-table td:nth-of-type(3):before { content: "Packungsgrösse"; }
	.product-collateral #product-attribute-specs-table td:nth-of-type(4):before { content: "Hersteller"; }
	.product-collateral #product-attribute-specs-table td:nth-of-type(5):before { content: "Kosmetik Marke"; }
	.product-collateral #product-attribute-specs-table td:nth-of-type(6):before { content: "Allgemeine Anwendungshinweise"; }
	.product-collateral #product-attribute-specs-table td:nth-of-type(7):before { content: "Composition"; }
	.product-collateral #product-attribute-specs-table td:nth-of-type(8):before { content: "Indication"; }
	.product-collateral #product-attribute-specs-table td:nth-of-type(9):before { content: "Anwendungshinweise Detail"; }
	.product-collateral #product-attribute-specs-table td:nth-of-type(10):before { content: "Allgemeine Warnhinweise"; }
	.product-collateral #product-attribute-specs-table td:nth-of-type(11):before { content: "Warnhinweise für Schwangere"; }
	.product-collateral #product-attribute-specs-table td:nth-of-type(12):before { content: "Warnhinweise während der Stillperiode"; }*/
}

/*********************************
  Global: Forms
*/
.form-list label[for="billing:telephone"] em{display:none;}/* hides the telephone required */

/*********************************
  Sidebar Blocks
*/
.block .note-msg,
.block .notice-msg{margin-top:10px;}

@media only screen and (max-width: 770px) {
  .sidebar .block:not(.block-layered-nav) {
    margin-bottom: 0;
  }
  .sidebar .block:not(.block-layered-nav) .block-title {
    padding: 0;
    margin-top: 0;
    border-bottom: none;
    border-top: none;
    margin-bottom: 0;
  }
  .sidebar .block:not(.block-layered-nav) .block-title > strong {
    margin: 0;
    margin-bottom: 10px;
    color: #636363;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-weight: normal;
    margin-bottom: 0px;
    padding: 7px 10px 7px 24px;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    position: relative;
    background-color: #f4f4f4;
    display: block;
    cursor: pointer;
    border-bottom: 0;
  }
  .sidebar .block:not(.block-layered-nav) .block-title > strong:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #3399cc;
    border-right: none;
    left: 10px;
    top: 50%;
    margin-top: -3px;
  }
  .sidebar .block:not(.block-layered-nav) .block-title.active > strong {
    margin: 0;
    margin-bottom: 10px;
    color: #636363;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-weight: normal;
    margin-bottom: 0px;
    padding: 7px 10px 7px 24px;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    position: relative;
    background-color: #f4f4f4;
  }
  .sidebar .block:not(.block-layered-nav) .block-title.active > strong:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px solid #3399cc;
    border-bottom: none;
    left: 10px;
    top: 50%;
    margin-top: -3px;
  }
  .sidebar .block:not(.block-layered-nav) .block-content {
    padding: 10px;
    margin-top: 0;
    border-width: 0 1px;
    border-style: solid;
    border-color: #cccccc;
  }
  .sidebar .block:last-of-type {
    border-bottom: 1px solid #cccccc;
  }

  .sidebar .block-account .block-title > strong span:after,
  .sidebar .block-cms-menu .block-title > strong span:after {
    content: ' Menu';
  }
  
  /*** ***/
  .amanda-container{display:none!important;}
}

@media only screen and (max-width: 770px) {
  .col-left,
  .col-right,
  .col-main,
  .col1-layout .col-left,
  .col1-layout .col-right,
  .col1-layout .col-main,
  .col2-left-layout .col-left,
  .col2-left-layout .col-right,
  .col2-left-layout .col-main,
  .col2-right-layout .col-left,
  .col2-right-layout .col-right,
  .col2-right-layout .col-main,
  .col3-layout .col-wrapper .col-left,
  .col3-layout .col-right,
  .col3-layout .col-wrapper .col-main {
    padding: 0;
    margin-bottom: 10px;
    float: none;
    width: auto;
  }


@media only screen and (max-width: 480px) {
	.header .search-content{top:0px!important;right:0px!important;}
}

/*********************************
  Community Module Specifics
*/
span.configurable-price-from-label{margin-right:5px!important;color:#666!important;font-weight:normal!important;}
