
/********** < Navigation */
.ma-nav-container { }
#nav { margin:0 auto; }

/* All Levels */ /* Style consistent throughout all nav levels */
#nav li { position:relative; text-align:left; }
#nav li.last {  }
#nav li.over { z-index:998; }
#nav a,
#nav a:hover { display:block; line-height:1.3em; text-decoration:none; }
#nav span { display:block; cursor:pointer; white-space:nowrap; }
#nav li ul span {white-space:normal; }
#nav ul li.parent a {}
#nav ul li.parent li a { }

/* 0 Level */
#nav li { float:left; padding-right: 2px; }
#nav li.last{ background:none;  }
#nav li.home { padding-left: 0; }

#nav li.active a span,
#nav li.over a span,
#nav a:hover span{ }

/* 1st Level */
#nav ul li,
#nav ul li.active { border-bottom: 1px solid #cdcdcd; float:none; margin:0; padding: 0; background: none;}
#nav ul li.last { border: 0;}

#nav ul a,
#nav ul a:hover { float:none;  }
#nav ul li a { font-weight:normal !important; }

/* 2nd Level */

#nav div ul { position:static; width:auto; border:none; }

/* 3rd+ Level */
#nav ul ul,
#nav ul div { top: -1px; }
#nav ul ul,
#nav ul div {  }


#nav ul span,
#nav ul li.last li span { }

/* Show menu */
#nav li ul.shown-sub,
#nav li div.shown-sub { left:0; z-index:999; }
#nav li .shown-sub ul.shown-sub,
#nav li .shown-sub li div.shown-sub { left:260px; }
/********** Navigation > */
/* ======================================================================================= */
