<p><strong><?php echo Mage::helper('ops')->__('Please wait a moment. This page will transfer your data to Viveum payment gateway in a few seconds.'); ?></strong></p>
<?php echo $this->getFormData();?>
