<?php if (count($list)) : ?>
<?php
    list($navigationType, $navigationStyle) = explode('|', $this->getOption('navigation_type', 'bullet|round'));

    $bannertimer    = $this->getOption('timeline_position', '');
    $bannertimerClass = '';
    switch ($bannertimer) {
        case 'top':
            $bannertimerClass = 'tp-bannertimer';
            break;

        case 'bottom':
            $bannertimerClass = 'tp-bannertimer tp-bottom';
            break;
    }

    $mainDelay              = $this->getOption('main_delay', 9000);
    $mainTransitionType     = $this->getOption('main_transition_type', 'random');
    $mainTransitionSpeed    = $this->getOption('main_transition_speed', 5000);
    $arrows                 = $this->getOption('show_arrows', 'verticalcentered');
    $thumbWidth             = $this->getOption('thumb_width', 100);
    $thumbHeight            = $this->getOption('thumb_height', 50);
?>

<style type="text/css">
<?php if ($fullWidth) : ?>
#slider_<?php echo $id; ?>_wrap {
    width: 100%;
}

#slider_<?php echo $id; ?>_content {
    width: 100%;
    max-height: 400px;
}
<?php else: ?>
#slider_<?php echo $id; ?>_wrap {
    width: 100%;
}

#slider_<?php echo $id; ?>_content {
    width: 100%;
    height: 400px;
}
<?php endif; ?>
<?php if ($arrows == 'none') : ?>
#slider_<?php echo $id; ?>_wrap .tp-leftarrow,
 #slider_<?php echo $id; ?>_wrap .tp-rightarrow {
    display: none;
}
<?php endif; ?>
</style>

<div id="slider_<?php echo $id; ?>_wrap" class="amanda-container<?php echo ($fullWidth ? '-fullwidth' : ''); ?>">
        <div id="slider_<?php echo $id; ?>_content" class="amanda">
            <ul>
                <?php foreach ($list as $item) : ?>
                <?php
                    $imageUrl = Mage::helper('advancedslider')->getResizedImageUrl($item['image'], $item['imageWidth'], $item['imageHeight']);
                    if (!$imageUrl) $imageUrl = $this->getSkinUrl('images/webandpeople/advancedslider/1_1.gif');
                    $alt        = $this->getSlideOption($item, 'image_alt', $item['title']);
                    $captions   = trim($this->getSlideOption($item, 'captions', ''));
                    // ------------
                    // --- Data ---
                    // ------------
                    $data = '';
                    // --- data-link ---
                    if ($item['link'] && $item['linkTarget'])
                        $data.=' data-link="' . $item['link'] . '" data-target="' . $item['linkTarget'] . '"';
                    // --- data-delay ---
                    $delay = $this->getSlideOption($item, 'personal_delay');
                    if (!$delay) $delay = $mainDelay;
                    $data.= ' data-delay="' . $delay . '"';
                    // --- data-transition ---
                    $transition = $this->getSlideOption($item, 'personal_transition_type');
                    if (!$transition) $transition = $mainTransitionType;
                    $data.= ' data-transition="' . $transition . '"';
                    // --- data-masterspeed ---
                    $speed = $this->getSlideOption($item, 'personal_transition_speed');
                    if (!$speed) $speed = $mainTransitionSpeed;
                    $data.= ' data-masterspeed="' . $speed . '"';
                    // --- data-thumb ---
                    $thumbImage = $this->getSlideOption($item, 'thumb_image');
                    if ($navigationType == 'thumb' && $thumbImage) {
                        $imageThumbUrl = Mage::helper('advancedslider')->getResizedImageUrl($item['image'], $thumbWidth, $thumbHeight, false, $thumbImage, '_thumb');
                        $data.= ' data-thumb="' . $imageThumbUrl . '"';
                    }
                ?>
                <li<?php echo $data;?>>
                    <img title="<?php echo $item['title']; ?>" src="<?php echo $imageUrl; ?>" alt="<?php echo $alt; ?>"/>
                    <?php
                        if ($captions) {
                            $processor  = Mage::getModel('widget/template_filter');
                            $captionsHtml = $processor->filter($captions);
                            #Mage::log($captionsHtml);
                            if ($captionsHtml) echo $captionsHtml;
                        }
                    ?>
                </li>
                <?php endforeach; ?>
            </ul>
            <?php if ($bannertimer) : ?>
            <div class="<?php echo $bannertimerClass; ?>"></div>
            <?php endif; ?>
        </div>
    </div>

<script>
    jqAdvSlider(document).ready(function() {
        jqAdvSlider('#slider_<?php echo $id; ?>_content').revolution({
            delay: <?php echo $mainDelay; ?>,
            startwidth: <?php echo $width; ?>,
            startheight: <?php echo 400; ?>,
            hideThumbs: 200,
            thumbWidth: <?php echo $thumbWidth; ?>, // Thumb With and Height and Amount (only if navigation Tyope set to thumb!)
            thumbHeight: <?php echo $thumbHeight; ?>,
            thumbAmount: <?php echo $this->getOption('thumb_amount', 5); ?>,
            navigationType: "<?php echo $navigationType; ?>", // bullet, thumb, none, both (No Thumbs In FullWidth Version!)
            navigationStyle: "<?php echo $navigationStyle; ?>", // round, square, navbar
            navigationArrows: "<?php echo $arrows; ?>", // nexttobullets, verticalcentered, none
            touchenabled: "on", // Enable Swipe Function : on/off
            onHoverStop: "<?php echo $this->getOption('pause_on_hover', 100); ?>", // Stop Banner Timet at Hover on Slide on/off
            navOffsetHorizontal: 0,
            navOffsetVertical: 20,
            stopAtSlide: -1,
            stopAfterLoops: -1,
            shadow: <?php echo $this->getOption('shadow', 0); ?>, //0 = no Shadow, 1,2,3 = 3 Different Art of Shadows (No Shadow in Fullwidth Version!)
            fullWidth: "<?php echo ($fullWidth ? 'on' : 'off'); ?>" // Turns On or Off the Fullwidth Image Centering in FullWidth Modus
        });
    });
</script>
<?php endif; ?>
