<?php if (count($list) > 1) : ?>
<?php
    $showArrows     = $this->getOption('show_arrows', 0);
    $showButtons    = $this->getOption('show_buttons', 1);
?>
<script type="text/javascript">
    var slider_<?php echo $id; ?>_opts = {
        <?php if (!$fullWidth) : ?>
        width:              '<?php echo $width; ?>px',
        height:             '<?php echo $height; ?>px',
        <?php else: ?>
        slideResize:        true,
        containerResize:    false,
        fit:                1,
        <?php endif; ?>
        fx:                 '<?php echo $this->getOption('play_effect', 'fade'); ?>',
        pause:              <?php echo $this->getOption('pause_on_hover', 1); ?>,
        pauseOnPagerHover:  <?php echo $this->getOption('pause_on_hover', 1); ?>,
        random:             <?php echo $this->getOption('play_random', 0); ?>,
        timeout:            <?php echo $this->getOption('auto_play_interval', 3000); ?>,
        speed:              <?php echo $this->getOption('auto_play_speed', 3000); ?>,
        pager:              '#slider_<?php echo $id; ?>_pager',
        next:               '#stripNavR_<?php echo $id; ?>',
        prev:               '#stripNavL_<?php echo $id; ?>'
    }
    jqAdvSlider(document).ready(function() {
        <?php if ($showButtons) : ?>
        jqAdvSlider('#slider_<?php echo $id; ?>_content').before('<div id="slider_<?php echo $id; ?>_pager" class="stripNav">');
        <?php endif; ?>
        <?php if ($fullWidth) : ?>
        function slider_<?php echo $id; ?>_resize() {
            var baseWidth   = <?php echo $width; ?>;
            var baseHeight  = <?php echo $height; ?>;
            var xWidth  = jqAdvSlider('#slider_<?php echo $id; ?>_content').parent().width();
            var xHeight = baseHeight * xWidth / baseWidth;
            var arrowLeft = jqAdvSlider('#stripNavL_<?php echo $id; ?>');
            if (typeof arrowLeft != 'undefined')
                var arrowLeftTop = xHeight / 2 - arrowLeft.height() / 2;
            var arrowRight = jqAdvSlider('#stripNavR_<?php echo $id; ?>');
            if (typeof arrowRight != 'undefined')
                var arrowRightTop = xHeight / 2 - arrowRight.height() / 2;
            slider_<?php echo $id; ?>_opts.width = xWidth;
            slider_<?php echo $id; ?>_opts.height = xHeight;
            jqAdvSlider('#slider_<?php echo $id; ?>_content img').each(function() {
                var xSliderImg = jqAdvSlider(this);
                xSliderImg.attr('width', xWidth);
                xSliderImg.attr('height', xHeight);
            });
            jqAdvSlider('#slider_<?php echo $id; ?>_content').cycle('destroy');
            jqAdvSlider('#slider_<?php echo $id; ?>_content').cycle(slider_<?php echo $id; ?>_opts);
            if (typeof arrowLeft != 'undefined')
                arrowLeft.css('top', arrowLeftTop);
            if (typeof arrowRight != 'undefined')
                arrowRight.css('top', arrowRightTop);
        }
        slider_<?php echo $id; ?>_resize();
        jqAdvSlider(window).resize(function(){
            slider_<?php echo $id; ?>_resize();
        });
        <?php else :?>
        jqAdvSlider('#slider_<?php echo $id; ?>_content').cycle(slider_<?php echo $id; ?>_opts);
        var arrowLeft = jqAdvSlider('#stripNavL_<?php echo $id; ?>');
        if (typeof arrowLeft != 'undefined') {
            var arrowLeftTop = <?php echo $height; ?> / 2 - arrowLeft.height() / 2;
            arrowLeft.css('top', arrowLeftTop);
        }
        var arrowRight = jqAdvSlider('#stripNavR_<?php echo $id; ?>');
        if (typeof arrowRight != 'undefined') {
            var arrowRightTop = <?php echo $height; ?> / 2 - arrowRight.height() / 2;
            arrowRight.css('top', arrowRightTop);
        }
        <?php endif; ?>
    });
</script>
<?php endif; ?>
<div class="slider-wrap"<?php if ($fullWidth) : ?> style="width: 100%;"<?php else : ?> style="width: <?php echo $width; ?>px;"<?php endif; ?>>
    <?php if (isset($showArrows) && $showArrows) : ?><div id="stripNavL_<?php echo $id; ?>" class="stripNavL"><a href="#"><?php echo $this->__('Left'); ?></a></div><?php endif; ?>
    <div id="slider_<?php echo $id; ?>_content" class="slider-wrap">
    <?php foreach ($list as $item) : ?>
        <?php if ($item['isImage']) : ?>
            <?php if ($item['link'] && $item['linkTarget']) : ?>
            <a class="slide_link" href="<?php echo $item['link']; ?>" target="<?php echo $item['linkTarget']; ?>">
            <?php endif; ?>
            <?php
                $imageUrl   = Mage::helper('advancedslider')->getResizedImageUrl($item['image'], $item['imageWidth'], $item['imageHeight']);
                $alt        = $this->getSlideOption($item, 'image_alt', $item['title']);
            ?>
            <img title="<?php echo $item['title']; ?>" src="<?php echo $imageUrl; ?>" alt="<?php echo $alt; ?>"<?php if (!$fullWidth) : ?> width="<?php echo $item['imageWidth'];?>" height="<?php echo $item['imageHeight'];?>"<?php endif; ?>/>
            <?php if ($item['link'] && $item['linkTarget']) : ?>
            </a>
            <?php endif; ?>
        <?php endif; ?>
        <?php if ($item['isHtml']) : ?>
            <div class="wp_block_html" title="<?php echo $item['title']; ?>">
                <?php echo $item['html']; ?>
                <?php if ($item['link'] && $item['linkTarget']) : ?>
                <a class="wp_block_link" href="<?php echo $item['link']; ?>" target="<?php echo $item['linkTarget']; ?>"></a>
                <?php endif; ?>
            </div>
        <?php endif; ?>
    <?php endforeach; ?>
    </div>
    <?php if (isset($showArrows) && $showArrows) : ?><div id="stripNavR_<?php echo $id; ?>" class="stripNavR"><a href="#"><?php echo $this->__('Right'); ?></a></div><?php endif; ?>
</div>
<div class="clear"></div>
