<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
    $_additional = $this->getAdditionalData();
    
    $_description = $_product->getAttributeText('description');;
?>

<?php if($_description): ?>
	<div class="std">
		<?php echo $_description; ?>
	</div>
<?php endif;?>

<?php if($_additional): ?>
    <table class="data-table" id="product-attribute-specs-table">
        <col width="25%" />
        <col />
        <tbody>
        <?php foreach ($_additional as $_data): ?>
            <tr>
                <th class="label"><?php echo $this->htmlEscape($this->__($_data['label'])) ?></th>
                <td class="data"><?php echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <script type="text/javascript">decorateTable('product-attribute-specs-table')</script>
<?php endif;?>
