<?php
$_product = $this->getProduct();
?>
<div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review-aggregate" style='display:none;'>
   <span property="v:itemreviewed"><?php echo $this->escapeHtml($_product->getName())?></span>
   <img src="<?php echo Mage::helper('catalog/image')->init($_product, 'image')?>" rel="v:photo" />
   <span rel="v:rating">
      <span typeof="v:Rating">
         <span property="v:average"><?php echo ceil($_product->getRatingSummary()->getRatingSummary()/100*5)?></span>
         out of
         <span property="v:worst">1</span>
         <span property="v:best">5</span>
      </span>
   </span>
   based on
   <span property="v:votes"><?php echo  $_product->getRatingSummary()->getReviewsCount()?></span> ratings.
   <span property="v:count"><?php echo  $_product->getRatingSummary()->getReviewsCount()?></span> user reviews.
</div>