.fleft { float:left; }
.m5 { margin-right:5px; }
.embed_code { width:550px; }
#advancedslider_slide_tabs_advanced_content .form-list td.value p.note,
#advancedslider_slide_tabs_general_content .form-list td.value p.note { width: auto; }
.form-list td.value input.input-text.chooser { width: 250px; }
.tree { padding: 10px 0px; margin-bottom: 15px; }
.system-fieldset-sub-head h4 { border-bottom: 1px solid #CCC; margin: 0; }
.magento_content{overflow: hidden;}
.dialog .magento_message {padding: 0 18px;}
#browser_window_content { overflow-y: auto!important; overflow-x: hidden!important;}
#goToSlide { margin-left: 5px; }
